html {
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
body {
    @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}  
@tailwind base;
@tailwind components;
@tailwind utilities;
